Repository arkinmodi/advent-of-code-2024: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, prettier, prettier-markdown

.pre-commit-config.yaml:

# yamllint disable rule:line-length
# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
# yamllint enable rule:line-length
---
ci:
  autoupdate_schedule: weekly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --strict

  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        language: system
        entry: gofmt -l -w
        types:
          - go

      - id: prettier
        name: Prettier
        language: node
        entry: prettier --write --ignore-unknown
        additional_dependencies:
          - prettier@latest
        types_or:
          - yaml

      - id: prettier-markdown
        name: Prettier (markdown)
        language: node
        entry: prettier --write --prose-wrap always
        additional_dependencies:
          - prettier@latest
        types_or:
          - markdown

day 01
  .github/workflows/test.yml
  day01/day01.go
  day01/day01_test.go
  day01/example.txt
  day01/go.mod
  day01/input.txt
  go.work
Due: gofmt, prettier

day 02
  .github/workflows/test.yml
  Makefile
  day02/day02.go
  day02/day02_test.go
  day02/example.txt
  day02/go.mod
  day02/input.txt
  go.work
Due: gofmt, prettier

day 03
  Makefile
  day03/day03.go
  day03/day03_test.go
  day03/example_part1.txt
  day03/example_part2.txt
  day03/go.mod
  day03/input.txt
  go.work
Due: gofmt

set dependabot to search all day* sub-directories
  .github/dependabot.yml
Due: prettier

day 04
  day04/day04.go
  day04/day04_test.go
  day04/example.txt
  day04/go.mod
  day04/input.txt
  go.work
Due: gofmt

remove unused function
  day04/day04.go
Due: gofmt

day 05
  day05/day05.go
  day05/day05_test.go
  day05/example.txt
  day05/go.mod
  day05/input.txt
  go.work
Due: gofmt

day 06
  day06/day06.go
  day06/day06_test.go
  day06/example.txt
  day06/go.mod
  day06/input.txt
  go.work
Due: gofmt

day 07
  day07/day07.go
  day07/day07_test.go
  day07/example.txt
  day07/go.mod
  day07/input.txt
  go.work
Due: gofmt
